<p>task1-component works! <br>
Task1:<br>
Dependency Injection: You are learning how to use inject(HttpClient).<br>
Observables: You are seeing "Observable < any >", which is the "stream" of data we talked about earlier.
Encapsulation: You are keeping your API URL in one place. <br>
Your Homework (Task 1):<br>
Create this service in your project.<br>
In your app.component.ts, try to call this service in the ngOnInit hook and console.log the result.<br>
Don't worry about the UI or CSS yet. Just try to get that list of users to appear in your browser's "Inspect -> Console" tab. 
</p>