<div>
<p>Data structure problems</p>
<p><b>{{example1}}</b></p>
<input type="text" placeholder="enter number..." [(ngModel)]="inputNumber" (input)="onInputNumber()"/>
@if (isNumberPalindrome) {
    <p>Ans: {{inputNumber}} is a palindrome number</p>
} @else {
    <p>Ans: {{inputNumber}} is not a palindrome number</p>  
}

<p><b>{{example2}}</b></p>
<input type="text" placeholder="enter string..." [(ngModel)]="inputText" (input)="onInputText()"/>
@if (isTextPalindrome) {
    <p>Ans: {{inputText}} is a palindrome text</p>
} @else {
    <p>Ans: {{inputText}} is not a palindrome text</p>  
}

<p><b>Convert Normal number to Roman</b></p>
<input type="text" placeholder="enter number to convert..." [(ngModel)]="inputNumberToConvert" (input)="onInputNumberToConvert()"/>
<p>Ans: {{inputNumberToConvert}} is {{resultRomanNumeral}}</p>
</div>
